body {
    box-sizing: border-box;
    background-color: rgb(255, 250, 242);
}

header {
    background-color: rgb(233, 187, 119);
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input,
textarea {
    padding: 0.2rem 0.4rem;
    border: solid 1px black;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

label,
input[type="text"],
input[type="password"] {
    font-size: 20px;
    margin-bottom: 1.5rem;
}
