@layer reset, base, components, utilities, overrides;

@import url("reset.css") layer(reset);
@import url("base.css") layer(base);
@import url("components/index.css") layer(components);
@import url("utilities/index.css") layer(utilities);
/* @import url("overrides.css") layer(overrides); */

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
