.textarea-auto {
    --padding-x: 0.5rem;
    box-sizing: content-box;
    width: calc(100% - 2 * var(--padding-x));
    padding-inline: var(--padding-x);
    resize: none;
}

.header-input {
    display: block;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.label-below {
    display: block;
    margin-bottom: 1rem;
}

.registration_body {
    background-color: white;
}

#registration_container,
#registration_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#registration_form_container {
    border: solid 1px rgb(85, 85, 85);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 8rem;
    background-color: rgb(255, 250, 242);
}
