.textarea-auto {
    --padding-x: 0.5rem;
    box-sizing: content-box;
    width: calc(100% - 2 * var(--padding-x));
    padding-inline: var(--padding-x);
    resize: none;
}

.header-input {
    display: block;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.label-below {
    display: block;
    margin-bottom: 1rem;
}
