.ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    margin-bottom: 0.5rem;
}

.ingredients-select {
    display: inline-block;
    width: 16rem;
    min-width: 5rem;
}

.ingredients-search {
    width: 100%;
}

.ingredient-weight {
    width: 7.5rem;
}
