#recipe_holder {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#recipe_thumb {
    max-width: 32rem;
    height: fit-content;
}

#recipe_info {
    width: 34rem;
}

#recipe_title {
    word-break: break-word;
}

#recipe_instructions {
    margin-top: 2rem;
    font-size: 22px;
    word-break: break-word;
}

#ingredients {
    margin-top: 2rem;
    font-size: 20px;
}

.recipe-ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;

    &:not(:last-child) {
        border-bottom: solid 1px black;
    }
}

#thumbnail {
    object-fit: contain;
}
